<footer class="footer">
    <div class="footer-logo">
        <h2>About Us</h2>  
        <ul>
            <a href="+46 760347287">Contact: +46 760347287</a>
            <a class="email_link" href= "mailto:andrewkalumba29@gmail.com">Email Us: andrewkalumba29@gmail.com</a>
        </ul>
    </div>
    
    <div class="footerSocialMedia">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/FuturegamesEDU/" id="facebook">
            <img class="footerIcon" src="../../images/facebook1.png" alt="Facebook logo">
        </a>
        <a href="https://www.instagram.com/a.n.d.r.e.k.j?igsh=ZjN6cGNsN280ZGRn&utm_source=qr" id="instagram">
            <img class="footerIcon" src="../../images/instagram.png" alt="Instagram logo-link">
        </a>
        <a href="https://www.linkedin.com/school/futuregames/" id="linkedin">
            <img class="footerIcon" src="../../images/linkedin.jpg" alt="Twitter logo-link">
        </a>
        <a href="#" id="skype">
            <img class="footerIcon" src="../../images/skype-icon.png" alt="Twitter logo-link">
        </a>
    </div>

    <div class="footer-copyright">
        <p> Copyright @2025 Mobile Shop</p> 
    </div>
    
</footer>