<footer class="footer">
    <div class="footer-logo">
        <h2>About Us</h2>  
        <ul>
            <a href="+46 761234561">Contact: +46 761234561</a>
            <a href="email id:andrewkalumba29@gmail.com">Email: andrewkalumba29@gmail.com</a>
        </ul>
    </div>
    
    <div class="footer_social-media">
        <h4>Follow Us</h4>
        <a href="#" id="facebook">
            <img src="/icons/facebook-logo.svg" alt="Facebook logo-link">
        </a>
        <a href="#" id="instagram">
            <img src="/icons/instagram-logo.svg" alt="Instagram logo-link">
        </a>
        <a href="#" id="twitter">
            <img src="/icons/twitter-logo.svg" alt="Twitter logo-link">
        </a>
    </div>

    <div class="footer-copyright">
        <p> Copyright @2025 Mobile Phone Hub</p> 
    </div>
    
</footer>