<header class="header">
    <div class="logoDiv">
        <img class="logo" src="../../images/mobileShop.png" alt="mobileShop logo">
    </div>
        <h1 class="page_title">MOBILE SHOP</h1>
</header>
  
