<div class="main_content">
    <div class="main_info">
            <% content.forEach(content => { %>
                <p class="info"><%= content.maincontent %></p>
            <% }); %>
    </div>
</div>
