<nav class="nav_menu">
    <a href="/" class="<%= bodyClass === 'home' ? 'active' : '' %>">Home</a>
    <a href="/iphone" class="<%= bodyClass === 'iphone' ? 'active' : '' %>">iPhone</a>
    <a href="/samsung" class="<%= bodyClass === 'samsung' ? 'active' : '' %>">Samsung</a>
    <a href="/nokia" class="<%= bodyClass === 'nokia' ? 'active' : '' %>">Nokia</a>
</nav>


 