<div class="sidebar">
    <h2>Phone Names</h2>
    <ul>
        <% phones.forEach(phone=> { %>
            <li>
                <a class="phone" href="/phone/<%= phone.name %>">
                    <%= phone.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>