* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

body.home {
    background-image: url("/images/deer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.iphone {
    background-image: url("/images/t1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.samsung {
    background-image: url("/images/bird2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.nokia {
    background-image: url("/images/snake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
}

.logo {
    margin: 0;
    padding: 12px;
    width: auto;
    height: 100%;
}

.heading {
    margin-left: 0;
}

.title {
    margin: 16px;
    padding: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.nav_menu {
    display: flex;
    justify-content: space-around;
    margin: 8px;
    padding: 24px;
}

.nav_menu a {
    margin: 8px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #e9b118;
    padding: 16px;
}

.active {
    padding: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 16px;
}

.active:hover {
    background-color: #4F5165;
    color: wheat;
}

.container {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    background-color: #4F5165;
    flex: 0 0 25%;
    color: white;

}

.main_content {
    flex: 0 0 75%;
    flex: 0 0 75%;
    color: #fff;
}

h2 {
    text-align: center;
}

.sidebar ul li {
    padding: 10px;
    margin: 5px;
    width: 150px;
    list-style-type: none;
    font-size: 1.2rem;
}

.animal {
    text-decoration: none;
    color: #e9b118;
}

.content {
    margin: 8px;
}

.content h3 {
    font-size: 1.2rem;
    text-decoration: underline;
}

.details {
    text-indent: 30px;
    font-size: 16px;
}

/*animal.ejs css*/
.animal_body {
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/home_bg.jpg");
    background-size: cover;
    background-position: center;
}

.image {
    height: auto;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-bottom: 0;
    padding: 10px;
}

.animal_name {
    color: #fff;
    margin: 3px;
}

p {
    color: #fff;
    font-size: 1.2rem;
    margin: 10px;
}

.animal_container {
    background-color: #7d9180;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 16px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 85%;
}

.back_button {
    background-color: #4F5165;
    font-size: 1.2rem;
    color: beige;
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;
    margin: 10px;
}

.back_button:hover {
    background-color: #e9b118;
}

.button {
    display: flex;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "logo contact social"
        "copyright copyright copyright";
    padding: 24px;
    gap: 36px;
    align-items: center;
    text-align: center; 
    color: whitesmoke;  
    background-color: #433f33;
}

.footer_social-media a {
    text-decoration: none;
}

.footer-logo h2 {
    font-size: 1.5rem;
}

.footer-logo h2:hover {
    background-color: #4F5165;
    color: wheat; 
}

.footer-contact h4 {
    font-size: 1.5rem;
}

.footer-logo ul {
    display:flex;
    flex-direction: column
}

.footer-logo ul a {
    text-decoration: none;
    color: whitesmoke;
}

.footer_social-media h4 {
    font-size: 1.5rem;
}

.footer-logo img {
    width: 250px;
    height: 100px;
}

.footer-copyright {
    grid-area: copyright;
    padding: 10px;
}

.facts h4 {
    font-size: 1.5rem;
    padding: 0.5px;
}

.facts ul {
    display:flex;
    flex-direction: column
}

.facts ul a {
    color: whitesmoke;
    font-size: 1rem;
    font-style: normal; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 7px; 
    text-decoration: none;
}

.facts ul a:hover {
    background-color: #4F5165;
    color: wheat;
}

@media screen and (max-width : 1000px) {
    body {
        background-color: #433f33;
    }

    body.home,
    body.mammals,
    body.birds,
    body.reptiles {
        background-image: none;
    }

}

@media screen and (max-width : 768px) {

    .title {
        margin-left: 0;
        padding-left: 0;
        font-size: 1.6rem;
    }

    .nav_menu a {
        text-decoration: none;
        font-size: 1rem;
        color: #e9b118;
    }

    .main_content {
       margin: 8px;
       margin: 8px;
    }

}

@media screen and (max-width:742px) {
    .animal_body {
        background-image: none;
    }

    .image {
        height: auto;
        width: 50%;
    }
  
    .animal {
        font-size: 16px;
    }
}

@media screen and (max-width:568px) {
    .animal_container {
        display: inline-block; 
    }

    .container {
        flex-grow: 1;
        display: inline-block;
    }

    .button {
        display: grid;
    }

    .nav_menu {
        display: flex;
        justify-content: center;
    }

    .sidebar {
      background-color: #0C1821;
    }

    .footer {
        display:block;
    }
}
